[submodule "ext/github__input-output-hk__data-analytics-bigquery.git"]
	path = ext/github__input-output-hk__data-analytics-bigquery.git
	url = https://github.com/input-output-hk/data-analytics-bigquery.git
